@if(TempData["Success"]!= null){
    <div class="d-flex row col-12">
        <div class=" alert alert-light notify col-sm-1 color-">THÔNG BÁO</div>
        <div class=" alert alert-success notify col-sm-11 pl-3">
            @TempData["Success"]
        </div>
        
      
    </div>
    
}
@if (TempData["Error"] != null)
{
    <div class="d-flex row col-12">
        <div class=" alert alert-light notify col-sm-1">THÔNG BÁO</div>
        <div class=" alert alert-warning notify col-sm-11 pl-3">
            @TempData["Error"]
        </div>
    </div>
}