
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper mt-3">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Liên hệ với chúng tôi</h1>
                </div>
              
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body row">
                <div class="col-5 text-center d-flex align-items-center justify-content-center">
                    <div class="">
                        <h2>Aquaponics<strong> Đồng Nai</strong> </h2>
                        <p class="text- text-left my-3">
                            CS1: Số 55  tổ 1 - ấp Phú Yên - xã Phú Trung - huyện Tân Phú - Đồng Nai<br>
                            CS2: Số 171B  tổ 8 - đường Bùi Văn Hoá - phường Long Bình Tân - TP. Biên Hoà - Đồng Nai<br>
                        </p>
                        <p class="text-left mt-3"> 
                            Số điện thoại: +84 969 140 931 <br>
                        <p class="text-left" style=" margin-left:101px">
                         
                            +84 338 667 551
                        </p>
                        <p class="text-left mt-2">
                            Gmail:      lequanghuyy0312a@@gmail.com <br>

                        </p>
                    </div>
                </div>
                <div class="col-7">
                    <div class="form-group">
                        <label for="inputName">Họ và Tên</label>
                        <input type="text" id="inputName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Địa chỉ E-Mail</label>
                        <input type="email" id="inputEmail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="inputSubject">Tiêu đề</label>
                        <input type="text" id="inputSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="inputMessage">Nội dung</label>
                        <textarea id="inputMessage" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Send message">
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>

