
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin - @ViewData["Title"]</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="~/css/paging.css" rel="stylesheet" />
    <link href="~/admin/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="~/admin/plugins/jqvmap/jqvmap.min.css">
    <link href="~/css/overflow.css" rel="stylesheet" />
  <!-- Theme style -->
  <link rel="stylesheet" href="~/admin/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="~/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="~/admin/plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="~/admin/plugins/summernote/summernote-bs4.min.css">
    @await RenderSectionAsync("Styles", required: false)

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->

  <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background-color:rgb(52,58,63)">
    <!-- Left navbar links -->
    <ul class="navbar-nav" >
      <li class="nav-item">
                    <a class="nav-link  text-white " data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Home/Index" class="nav-link  text-white">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Home/Contact" class="nav-link text-white">Liên hệ</a>
      </li>
    </ul>

  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="~/Home/Index" class="brand-link">
      <img src="~/admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Aquaponics</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
        
           <img src="~/images/logo/admin.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="~/Admin/Home/Index" class="d-block">Trang quản trị</a>
        </div>
      </div>
          
      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
                @await Html.PartialAsync("_NavbarPartialView")
    </div>
    <!-- /.sidebar -->
  </aside>
        <div class="content-wrapper">

            <div class="content-header">
                <partial name="_NotifyPartial" />
                @RenderBody()
                <div class="container-fluid">
                </div><!-- /.container-fluid -->
            </div>
        </div>


  <!-- Content Wrapper. Contains page content -->

  <!-- /.content-wrapper -->
        <footer class="main-footer" style="background-color:rgb(52,58,63)">
            <strong>lequanghuyy0312a@gmail.com 2023 |<a href="https://fb.com"> fb.com</a> </strong>
    <div class="float-right d-none d-sm-inline-block">
      <b></b> Liên hệ: 0969140931
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="~/admin/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="~/admin/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="~/admin/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="~/admin/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="~/admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/admin/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="~/admin/plugins/moment/moment.min.js"></script>
<script src="~/admin/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="~/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <a href="~/admin/plugins/summernote/summernote-bs4.min.js.map"></a>

<script src="~/admin/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="~/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="~/admin/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/admin/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/admin/dist/js/pages/dashboard.js"></script>

    @await RenderSectionAsync("Scripts2﻿", required: false)

</body>

</html>
