

<nav class="mt-0 " >
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-header">Tác vụ</li>
         <li class="nav-item mt-3">
            <a href="~/Admin/Order/Index" class="nav-link">
                <i class="nav-icon fa fa-store"></i>
                <p>
                    Quản lý Đơn hàng
                </p>
            </a>
        </li>
        <li class="nav-item mt-3">
            <a href="~/Admin/Product/Index" class="nav-link">
                <i class="nav-icon fa fa-pagelines" aria-hidden="true"></i>
                <p>
                    Quản lý Sản phẩm
                </p>
            </a>
        </li>
        <li class="nav-item mt-3">
            <a href="~/Admin/Category/Index" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                    Quản lý Danh mục
                </p>
            </a>
        </li>
         <li class="nav-item mt-3">
            <a href="~/Admin/User/Index" class="nav-link">
                <i class="nav-icon fa fa-users" aria-hidden="true"></i>
                <p>
                    Quản lý Tài khoản
                </p>
            </a>
        </li>

        <li class="nav-item mt-3">
            <a href="~/Admin/Brand/Index" class="nav-link">
                <i class="nav-icon fa fa-plane" aria-hidden="true"></i>
                <p>
                    Quản lý Xuất xứ
                </p>
            </a>
        </li>

        <li class="nav-item mt-3">
            <a href="~/Admin/ImportProduct/Index" class="nav-link">
                <i class="nav-icon fa fa-download" aria-hidden="true"></i>
                <p>
                    Quản lý Nhập hàng
                </p>
            </a>
        </li>
        <li class="nav-item mt-3">
            <a href="~/Admin/Blogs/Index" class="nav-link">
                <i class="nav-icon fa fa-newspaper-o" aria-hidden="true"></i>
                <p>
                    Quản lý Bài viết
                </p>
            </a>
        </li>
        <li class="nav-item mt-3">
            <a href="~/Admin/ContactAndPolicy/Index" class="nav-link">
                <i class="fa fa-phone nav-icon" aria-hidden="true"></i>
                <p>
                    Quản lý Liên hệ
                </p>
            </a>
        </li>
    </ul>
</nav>