

<nav class="mt-0 " >
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-header">Tác vụ</li>
         <li class="nav-item ml-1 mt-3">
            <a href="~/Admin/Order/Index" class="nav-link">
                <i class="nav-icon fa fa-store"></i>
                <p class="ml-4">
                     Đơn hàng
                </p>
            </a>
        </li>
        <li class="nav-item ml-1 mt-3">
            <a href="~/Admin/Product/Index" class="nav-link">
                <i class="nav-icon fa fa-pagelines" aria-hidden="true"></i>
                <p class="ml-4">
                     Sản phẩm
                </p>
            </a>
        </li>
        <li class="nav-item ml-1 mt-3">
            <a href="~/Admin/Category/Index" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p class="ml-4">
                     Danh mục
                </p>
            </a>
        </li>
         <li class="nav-item ml-1 mt-3">
            <a href="~/Admin/User/Index" class="nav-link">
                <i class="nav-icon fa fa-users" aria-hidden="true"></i>
                <p class="ml-4">
                     Tài khoản
                </p>
            </a>
        </li>

        <li class="nav-item ml-1 mt-3">
            <a href="~/Admin/Brand/Index" class="nav-link">
                <i class="nav-icon fa fa-plane" aria-hidden="true"></i>
                <p class="ml-4">
                     Xuất xứ
                </p>
            </a>
        </li>

        <li class="nav-item ml-1 mt-3">
            <a href="~/Admin/ImportProduct/Index" class="nav-link">
                <i class="nav-icon fa fa-download" aria-hidden="true"></i>
                <p class="ml-4">
                     Nhập hàng
                </p>
            </a>
        </li>
        <li class="nav-item ml-1 mt-3">
            <a href="~/Admin/Blogs/Index" class="nav-link">
                <i class="nav-icon fa fa-newspaper-o" aria-hidden="true"></i>
                <p class="ml-4">
                     Bài viết
                </p>
            </a>
        </li>
        <li class="nav-item ml-1 mt-3">
            <a href="~/Admin/ContactAndPolicy/Index" class="nav-link">
                <i class="fa fa-phone nav-icon" aria-hidden="true"></i>
                <p class="ml-4">
                     Liên hệ
                </p>
            </a>
        </li>
    </ul>
</nav>